In [32]:
import pandas as pd
import pickle

In [33]:
# train = pd.read_csv('./dataset/train/train.csv')
test = pd.read_csv('../data/dataset/test/test_data.csv')
pred = pd.read_csv('./save_best/hard__21_see_14_rob_seo_02_13_rob_sub_69_seo_01.csv')

In [34]:
pred

,id,pred_label,probs
0,0,org:product,"[0.008137032389640808, 0.001768831629306078, 0..."
1,1,per:title,"[0.001582783879712224, 9.086904901778325e-05, ..."
2,2,no_relation,"[0.9991855025291443, 2.857174513337668e-05, 2...."
3,3,no_relation,"[0.9695386290550232, 0.0004900097264908254, 0...."
4,4,no_relation,"[0.8111861348152161, 0.1833547204732895, 0.000..."
...,...,...,...
7760,7760,org:place_of_headquarters,"[0.03805125132203102, 0.001047163619659841, 0...."
7761,7761,no_relation,"[0.9983550906181335, 5.95265555602964e-05, 5.1..."
7762,7762,org:top_members/employees,"[4.933789750793949e-05, 0.9991931319236755, 2...."
7763,7763,no_relation,"[0.9950843453407288, 6.866411422379315e-05, 4...."
7764,7764,no_relation,"[0.9984822869300842, 8.631144009996206e-05, 3...."

In [35]:
test['pred_label'] = pred.pred_label
test['probs'] = pred.probs

test

,id,sentence,subject_entity,object_entity,label,source,pred_label,probs
0,0,지난 15일 MBC '탐사기획 스트레이트'가 이 사실을 보도했다.,"{'word': 'MBC', 'start_idx': 7, 'end_idx': 9, ...","{'word': '탐사기획 스트레이트', 'start_idx': 12, 'end_i...",100,wikitree,org:product,"[0.008137032389640808, 0.001768831629306078, 0..."
1,1,사랑스러운 ‘프린세스 프링’의 이름은 봄의 공주님: Princess(s)Pring이...,"{'word': '프린세스 프링', 'start_idx': 7, 'end_idx':...","{'word': '공주', 'start_idx': 84, 'end_idx': 85,...",100,wikipedia,per:title,"[0.001582783879712224, 9.086904901778325e-05, ..."
2,2,"한편, 본인(이근안)을 모델로 한 MBC 특집드라마 가 1995년 6.25 특집극으...","{'word': '경찰', 'start_idx': 121, 'end_idx': 12...","{'word': '1995년', 'start_idx': 31, 'end_idx': ...",100,wikipedia,no_relation,"[0.9991855025291443, 2.857174513337668e-05, 2...."
3,3,정창손은 김질과 같이 대궐로 달려가 고변하며 '신은 실로 모르고 김질만 혼자 참여하...,"{'word': '세조', 'start_idx': 78, 'end_idx': 79,...","{'word': '정창손', 'start_idx': 0, 'end_idx': 2, ...",100,wikipedia,no_relation,"[0.9695386290550232, 0.0004900097264908254, 0...."
4,4,"당시 민주당 이진련 시의원은 권영진 시장에게 ""긴급 생계자금을 왜 현금으로 지원하지...","{'word': '민주당', 'start_idx': 3, 'end_idx': 5, ...","{'word': '권영진', 'start_idx': 16, 'end_idx': 18...",100,wikitree,no_relation,"[0.8111861348152161, 0.1833547204732895, 0.000..."
...,...,...,...,...,...,...,...,...
7760,7760,코로나19 방역 조치의 일환으로 국민의 움직임을 통제하려는 정부의 시도를 이탈리아 ...,"{'word': '정부', 'start_idx': 33, 'end_idx': 34,...","{'word': '이탈리아', 'start_idx': 41, 'end_idx': 4...",100,wikitree,org:place_of_headquarters,"[0.03805125132203102, 0.001047163619659841, 0...."
7761,7761,선 연구원은 “위식도역류질환치료제인 케이캡이 92억원 판매되면서 2019년 연간 3...,"{'word': '종근당', 'start_idx': 133, 'end_idx': 1...","{'word': '전년', 'start_idx': 143, 'end_idx': 14...",100,wikitree,no_relation,"[0.9983550906181335, 5.95265555602964e-05, 5.1..."
7762,7762,"한국전기안전공사(사장 조성완)는 8월 1일부로, 3급 간부직원에 대한 승진·이동 인...","{'word': '한국전기안전공사', 'start_idx': 0, 'end_idx'...","{'word': '조성완', 'start_idx': 12, 'end_idx': 14...",100,wikitree,org:top_members/employees,"[4.933789750793949e-05, 0.9991931319236755, 2...."
7763,7763,1987년 B. 슈나이더(B. Schneider)에 의해 만들어졌다.,"{'word': 'B. 슈나이더', 'start_idx': 6, 'end_idx':...","{'word': '1987년', 'start_idx': 0, 'end_idx': 4...",100,wikipedia,no_relation,"[0.9950843453407288, 6.866411422379315e-05, 4...."
7764,7764,이승옥 강진군수는 2일 NH농협은행 강진군지부(지부장 강대형)를 방문해 부품·소재·...,"{'word': '이승옥', 'start_idx': 0, 'end_idx': 2, ...","{'word': '2일', 'start_idx': 10, 'end_idx': 11,...",100,wikitree,no_relation,"[0.9984822869300842, 8.631144009996206e-05, 3...."

In [36]:
len(test[test.subject_entity.str.contains('ORG')][test.pred_label.str.startswith('per')])

<ipython-input-36-eec189caa3d0>:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  len(test[test.subject_entity.str.contains('ORG')][test.pred_label.str.startswith('per')])

1

In [37]:
len(test[test.subject_entity.str.contains('PER')][test.pred_label.str.startswith('org')])

<ipython-input-37-7853a782044f>:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  len(test[test.subject_entity.str.contains('PER')][test.pred_label.str.startswith('org')])

2

In [38]:
len(test)

7765

In [39]:
with open('../code/dict_num_to_label.pkl', 'rb') as f:
    dict_num_to_label = pickle.load(f)

In [40]:
def convert_probs_to_label(row, dict_num_to_label=dict_num_to_label):
    is_per = row.subject_entity.split('type')[1].split(':')[1].replace('\'', '').replace('}', '').replace(' ', '')

    probs = row.probs
    probs = probs.replace('[', '').replace(']', '').split(', ')
    probs = [float(p) for p in probs]

    if is_per == 'PER':
        for a in range(len(dict_num_to_label)):
            if not dict_num_to_label[a].startswith('per'):
                probs[a] = 0
    else:
        for a in range(len(dict_num_to_label)):
            if dict_num_to_label[a].startswith('per'):
                probs[a] = 0
    
    # return top
    return dict_num_to_label[probs.index(max(probs))]

In [41]:
orgper = test[test.subject_entity.str.contains('ORG')][test.pred_label.str.startswith('per')].copy()
perorg = test[test.subject_entity.str.contains('PER')][test.pred_label.str.startswith('org')].copy()

<ipython-input-41-adb507473328>:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  orgper = test[test.subject_entity.str.contains('ORG')][test.pred_label.str.startswith('per')].copy()
<ipython-input-41-adb507473328>:2: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  perorg = test[test.subject_entity.str.contains('PER')][test.pred_label.str.startswith('org')].copy()

In [42]:
len(orgper), len(perorg)

(1, 2)

In [43]:
orgper['pred_label'] = orgper.apply(convert_probs_to_label, axis=1)
perorg['pred_label'] = perorg.apply(convert_probs_to_label, axis=1)

In [44]:
test.iloc[orgper.index] = orgper
test.iloc[perorg.index] = perorg

In [45]:
test.iloc[201]

id                                                              201
sentence          춘신군은 아래에 식객(食客) 3천 인을 모아 거느리고 있었는데, 상객(上客)은 모두...
subject_entity    {'word': '춘신군', 'start_idx': 0, 'end_idx': 2, ...
object_entity     {'word': '식객', 'start_idx': 9, 'end_idx': 10, ...
label                                                           100
source                                                    wikipedia
pred_label                                              no_relation
probs             [0.038651756942272186, 0.9527184963226318, 0.0...
Name: 201, dtype: object

In [46]:
new_pred = test.drop(['sentence', 'subject_entity', 'object_entity', 'label'], axis=1)

In [47]:
new_pred

,id,source,pred_label,probs
0,0,wikitree,org:product,"[0.008137032389640808, 0.001768831629306078, 0..."
1,1,wikipedia,per:title,"[0.001582783879712224, 9.086904901778325e-05, ..."
2,2,wikipedia,no_relation,"[0.9991855025291443, 2.857174513337668e-05, 2...."
3,3,wikipedia,no_relation,"[0.9695386290550232, 0.0004900097264908254, 0...."
4,4,wikitree,no_relation,"[0.8111861348152161, 0.1833547204732895, 0.000..."
...,...,...,...,...
7760,7760,wikitree,org:place_of_headquarters,"[0.03805125132203102, 0.001047163619659841, 0...."
7761,7761,wikitree,no_relation,"[0.9983550906181335, 5.95265555602964e-05, 5.1..."
7762,7762,wikitree,org:top_members/employees,"[4.933789750793949e-05, 0.9991931319236755, 2...."
7763,7763,wikipedia,no_relation,"[0.9950843453407288, 6.866411422379315e-05, 4...."
7764,7764,wikitree,no_relation,"[0.9984822869300842, 8.631144009996206e-05, 3...."

In [49]:
new_pred.to_csv('./save_best/corrected.csv', index=False)